@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes productSlide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-product-slide {
  animation: productSlide 0.5s ease;
}

.product_title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  
  font-weight: 700; 
  color: #113b85; 
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .product_title {
    font-size: 3.75rem; 
    line-height: 1;
  }
}

.p_header {
  color: #113B85;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.table_row {
  width: 100%;
  white-space: nowrap;
  text-align: end; 
  color: #808080;
  border-bottom: 1px solid #D1D5DB;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
